*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.gallery{
    max-width: 800px;
    margin: auto;
}
.gallery-cell{
    width: 100%;
    max-height: 500px;
    margin-right: 10px;
}
.gallery-cell img{
    width: 100%;
    background-size: contain;
}